// Splash Merchant
#pageGraph(data-role='page', ng-controller="Graph")
  div(data-theme='a', data-role='header')
    h3
      | Discount Adjustment
  div(data-role='content')
    h3 {{dow}}
    #placeholder(style="width:300px;height:300px")
    .row-fluid
      .span2
        a(data-role='button', ng-click='increase()')
          | Increase
      .span2
        a(data-role='button', ng-click='decrease()')
          | Decrease
      .span2
        a(data-role='button', ng-click='prev()')
          | Prev
      .span2
        a(data-role='button', ng-click='next()')
          | Next

#page25(data-role='page')
  div(data-role='content')
    div
      p
        br
      p
        br
    div(style='text-align: center;')
      img(style='width: 188px; height: 75px;', src='http://assets.codiqa.com/ps/40498/c76e731665c1aa65Original_188x75.png')
    div
      p(style='text-align: center;')
        span(style='font-family: tahoma, arial, helvetica, sans-serif;')
          strong
            span(style='color: rgb(0, 0, 255);', data-mce-style='color: #0000ff;')
              | Merchant
    a(data-role='button', href='#page24')
      | Log In
    a(data-role='button', href='#page24')
      | Log In With Facebook
    div
      a(href='', data-transition='fade')
        | Sign Up
    div
      a(href='', data-transition='fade')
        | Forgot Password?

// FoodCrunch Merchant
#page16(data-role='page',ng-controller="FoodCrunchMerchant")
  div(data-role='content')
    h2
      | FoodCrunch Merchant
    a(data-role='button', href='#page16')
      | Manage Discounts
    a(data-role='button', href='#page16')
      | Flash Sale
    a(data-role='button', href='#page16')
      | Expected Demand
    ul(data-role='listview', data-divider-theme='b', data-inset='true')
      li(data-role='list-divider', role='heading')
        | Food Crunch Options
      li(data-theme='c')
        a(href='#page1', data-transition='slide')
          | Manage Labor
      li(data-theme='c')
        a(href='#page1', data-transition='slide')
          | Manage Discount Factor
      li(data-theme='c')
        a(href='#page1', data-transition='slide')
          | Manage Options
    a(data-role='button', href='#page16')
    a(data-role='button', data-theme='e', href='#page18')
      | Nearby Customers
    a(data-role='button', data-theme='e', href='#page16')
      | Loyalty
// Nearby Customers
#page18(data-role='page',ng-controller="NearbyCustomers")
  div(data-role='content')
    h2
      | Nearby Customers
    h3
      | You must have Aqui enabled to view nearby customers
// Manage Discounts
#page19(data-role='page',ng-controller="ManageDiscounts")
  div(data-role='content')
    div(data-role='navbar', data-iconpos='top')
      ul
        li
          a(href='#page16', data-theme='', data-icon='')
            | Home
        li
          a(href='#page19', data-theme='', data-icon='')
            | View Demand
    h2
      | Manage Discounts
    div
      p
        b
          | Slide bars up and down to manage discounts
      p
        b
          | //(add + / - / 0) sign to left of graph
    div(style='text-align: center;')
      img(style='width: 300px; height: 200px;', src='http://www.studyzone.org/testprep/math4/e/dogchart.jpg')
    div(data-role='fieldcontain')
      label(for='selectmenu7')
        | Day
      select(name='', data-theme='b')
        option(value='option1')
          | Today
        option(value='value')
          | Tomorrow
        option(value='value')
          | Wednesday
        option(value='value')
          | Thursday
        option(value='value')
          | Friday
        option(value='value')
          | Saturday
        option(value='value')
          | Sunday
// Expected Demand Merchant
#page20(data-role='page',ng-controller="ExpectedDemandMerchant")
  div(data-role='content')
    div(data-role='navbar', data-iconpos='top')
      ul
        li
          a(href='#page16', data-theme='', data-icon='')
            | Home
        li
          a(href='#page19', data-theme='', data-icon='')
            | Manage Discount
        li
          a(href='#page20', data-theme='', data-icon='')
            | Flash Sale
    h2
      | Expected Demand
    div
      p
        b
          | Stacked bar chart:
      ul
        li
          b
            | Baseline expected demand
        li
          b
            | Current pre-orders
        li
          b
            | Current subscriptions
      p
        b
          br
      p
        b
          | Capacity (on top)
      p
        b
          br
    div(style='width: 288px; height: 100px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;')
      img(src='http://codiqa.com/static/images/v2/image.png', alt='image', style='position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px;')
    a(data-role='button', href='#page20')
      | View Data
// Manage Accounts
#page21(data-role='page',ng-controller="ManageAccounts")
  div(data-role='content')
    div(data-role='navbar', data-iconpos='top')
      ul
        li
          a(href='#page11', data-theme='', data-icon='')
            | Home
        li
          a(href='#page11', data-theme='b', data-icon='')
            | Accts & Payments
    div
      p
        br
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='textinput1')
          | Email
        input#textinput1(name='', placeholder='', value='', type='text')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='textinput2')
          | Password
        input#textinput2(name='', placeholder='', value='', type='text')
    a(data-role='button', data-theme='b', href='#page21')
      | Sign In
    div
      a(href='#page21', data-transition='fade')
        | Forgot your password?
    div
      br
    a(data-role='button', href='#page21')
      | Create New Account
// Manage Payments
#page22(data-role='page',ng-controller="ManagePayments")
  div(data-role='content')
    div(data-role='navbar', data-iconpos='top')
      ul
        li
          a(href='#page11', data-theme='', data-icon='')
            | Home
        li
          a(href='#page11', data-theme='b', data-icon='')
            | Accts & Payments
    div
      p
        br
    div(data-role='fieldcontain')
      label(for='selectmenu8')
        | Payment Method
      select(name='')
        option(value='option1')
          | AMEX
        option(value='value')
          | Discover
        option(value='value')
          | Mastercard
        option(value='value')
          | Visa
        option(value='value')
          | Paypal
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='textinput3')
          | Account Number
        input#textinput3(name='', placeholder='', value='', type='text')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='textinput4')
          | Name on Account
        input#textinput4(name='', placeholder='', value='', type='text')
    #checkboxes2(data-role='fieldcontain')
      fieldset(data-role='controlgroup', data-type='vertical')
        legend
          | Save Infomation
        input#checkbox8(name='', type='checkbox')
        label(for='checkbox8')
          | Save
    a(data-role='button', data-theme='b', href='#page22')
      | Submit
    div
      br
