!!! 5
html
  head
    title Food Crunch
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='user-scalable=no, width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet',href="css/jquery.mobile-1.2.0.min.css")
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/my.css')

    script(src="lib/jquery-1.8.2.min.js")
    script(src="lib/jquery.mobile-1.2.0.min.js")
    script(src="lib/jquery.flot.js")
    script(src="lib/jquery.flot.stack.js")

    script(src='lib/underscore-min.js')
    script(src='lib/kinvey-js-0.9.10.js')

    script(src='lib/angular/angular.js')
    script(src='lib/angular/angular-cookies.js')
    script(src='lib/angular/angular-loader.js')
    script(src='lib/angular/angular-resource.js')
    script(src='lib/angular/angular-sanitize.js')
    script(src='lib/angular/angular-bootstrap.js')
    script(src='lib/angular/angular-bootstrap-prettify.js')
    script(src='lib/angular/angular-ui.js')
    script(src='lib/angular/angular-ui-ieshiv.js')

    script(src='my.js')
    script(src='index.js')

  body(ng-app="app")
    include jade/app
    //- #placeholder(style="width:600px;height:300px")
    